.col-md-5 img {
    width: 100%;
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}
.col-md-7 p {
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}